services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend-service
    depends_on:
      - postgres-db
      - minio-db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5432/devops_project
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres

      MINIO_URL: http://minio-db:9000
      MINIO_ACCESS_KEY: root
      MINIO_SECRET_KEY: minio12345
      MINIO_BUCKET: mybucket

      SERVER_PORT: 8080
    ports:
      - "8080:8080"
    networks:
      - app-net

  postgres-db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_DB: devops_project
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-net

  pgadmin:
    image: dpage/pgadmin4:8.5
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres-db
    networks:
      - app-net

  minio-db:
    image: minio/minio:RELEASE.2024-01-11T07-46-16Z
    container_name: minio-db
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: root
      MINIO_ROOT_PASSWORD: minio12345
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - app-net

networks:
  app-net:

volumes:
  postgres_data:
  minio_data:
