apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30081
    - name: management
      protocol: TCP
      port: 9090
      targetPort: 9090
      nodePort: 30082
